<title>Tamil story</title>
{% extends 'index.html' %}

{% load static %}
{% block content %}

<div class="bc">

	<h1 style="color: black;text-align: center;"><strong>{{blog.title}}</strong></h1>
	<br>
	<h4 style="color: grey;text-align: center;">{{blog.description}}</h4>
	{% if blog.image %}
	<img src="{{blog.image.url}}" class="card-img-top detailimage" alt="...">
	{% endif %}
	<br>
	<br>
	<div class="contentt"><h2 style="color: brown;text-align: center;">{{blog.stitle}}</h2>
	<h6>{{blog.content|safe|linebreaks}}</h6>
	<h2>{{blog.stitle1}}</h2>
	<h6>{{blog.content1|safe|linebreaks}}</h6>
	<h2>{{blog.stitle2}}</h2>
	<h6>{{blog.content2|safe|linebreaks}}</h6>
	<h2>{{blog.stitle3}}</h2>
	<h6>{{blog.content3|safe|linebreaks}}</h6>
	<h2>{{blog.stitle4}}</h2>
	<h6>{{blog.content4|safe|linebreaks}}</h6>
	<h2>{{blog.stitle5}}</h2>
	<h6>{{blog.content5|safe|linebreaks}}</h6>

	<h2>{{blog.stitle6}}</h2>
	<h6>{{blog.content6|safe|linebreaks}}</h6>
</div>
<hr>
<div class="related_post">
	<hr>
	{% if rel %}
	<h1>Related post</h1>
	{% for r in rel %}
	*  <a href="{% url 'tamil_short_stories' r.slug %}" class="relposttitle">{{r.title}}</a>
		<br>
	{% endfor %}
	{% endif %}
</div>
</div>




{% endblock content %}
