{% extends 'index.html' %}

{% load static %}
{% block content %}
<br>
<div class="row">
	{% if blogs %}
	{% for blog in blogs %}
	<div class="card">
	
		{% if blog.image %}
		<img src="{{blog.image.url}}" class="card-img-top img" alt="...">
		{% else %}
		<img src="{% static 'img/a.jpg' %}" class="card-img-top img" alt="...">
		{% endif %}
		<div class="card-body">

			<h5 class="card-title">{{blog.title}}</h5>
			<p class="card-text">{{blog.description}}</p>
			<a href="{% url 'tamil_short_stories' blog.slug %}" class="btn btn-primary">Read More</a>
		</div>
	</div>
	<br>
	{% endfor %}
	{% else %}
	<div class="sr">
		<h1>sorry no result found</h1>
	</div>
	
	{% endif %}
</div>

{% endblock content %}

