{% extends 'index.html' %}

{% load static %}
{% block content %}

<h1>DATA COLLECTION</h1>
<p>We collect or obtain data relating to you in a variety of ways, as described below. Such data may include personal data, i.e., information that alone or in combination with other information identifies you as an individual or can be reasonably linked to your identity.<br> <br><br>

Data You Provide: When you submit questions, request information, or give us feedback via this Site, we may ask you for data, like your name, postal address, telephone number, and email address so we can respond or follow up. We may also ask you to provide other data relevant to your question, request, or feedback, such as your geographical location, industry, and preferred contact method.<br><br><br>

You may also make requests through this Site to exercise your individual rights under applicable privacy laws. We will collect and maintain data related to such requests in order to respond to you and for our audit and legal compliance purposes.<br><br><br>

We generally do not seek data that may be considered “special” or “sensitive” personal data (e.g., government-issued identification numbers or information related to an individual’s racial or ethnic origin, political opinions, religious or other beliefs, health, criminal background, or trade union membership) from visitors of this Site, and we ask that you do not provide such data. If we specifically require “special” or “sensitive” personal data in connection with one or more of the uses described below, we will request your consent to use the data in accordance with this Privacy Statement and/or in the ways described at the point where you were asked to disclose the data. If you voluntarily share with us or post/upload  any “special” or “sensitive” personal data to this Site for any other reason, you consent that we may use such data in accordance with applicable law and this Privacy Statement.<br><br><br>

Please note that any information or materials you post or disclose on this Site via message boards, chats, profile pages, blogs, and other services (including social media services) are publicly available and will be seen by other visitors to this Site. You should consider this when deciding to disclose any personal data or any other information on this Site.<br><br><br>

Data Collected from your Use of this Site: We automatically receive certain data about the computer or device you are using when you visit this Site, including: your Internet Protocol (IP) address; information about the browser or type of device you are using; data collected through cookies, pixel tags, and other similar technologies (as described below in the “Cookies and Other Internet Technologies” section); the date and time of your visit; and the web page you visited immediately prior to visiting this Site. We also collect data about videos or other content you view on this Site, like the type and name of the content and the time viewed.<br><br></p>


<h2>DATA USE</h2>

<p>
	We use data about you for the purpose(s) for which it was collected or provided to us (as stated at the point of collection) or as otherwise obvious from the context of collection. We may also use data to:<br>
	<ul>
		<li>Administer and manage this Site, communicate with you about this Site, process your request for information, or otherwise complete a transaction or service you request or authorize; </li>
		<li>Customize or personalize your user experience and the content we deliver to you, including to provide you with content that is more relevant to you;  </li>
		<li>Contact you about Nielsen’s products and services, provide you with promotional materials or offers for products/services from Nielsen, or send you other communications about Nielsen’s business and events (including communications based on your interests, personal and business characteristics, and location) (collectively, “marketing communications”). We may provide these communications and offers via email, postal mail, online, social media platforms, text messages, and other means; 
			
		</li>
		<li>Carry out our internal business purposes, such as corporate transactions, audits, and data analysis; conduct research and analytics about your use of this Site and interaction with us; develop new products; improve this Site and our existing products and services; identify usage trends; assess the performance of our advertisements; optimize our advertising campaigns; and determine the effectiveness of our communications;
			
		</li>
		<li>Protect the rights, safety, property, or operations of one or more Nielsen affiliates, you, or others; 
Comply with applicable law and/or respond to requests and communications from law enforcement authorities or other government officials
			
		</li>
	</ul>
	
</p>



{% endblock content %}