body{
	background-color: silver;
}
.card{
	width: 50%;
}
@media only screen and (min-width: 1280px){
	.card{
		width: 25%;
	}
	.detailimage{
		display: block;
		margin-right: auto;
		margin-left: auto;
		width: 50%;
	}
	.contentt{
		width: 60%;
		display: block;
		margin-right: auto;
		margin-left: auto;
	}
	.about{
		width: 60%;
		display: block;
		margin-right: auto;
		margin-left: auto;
	}
}


.bc{
	background-color: white;
	margin: 15px;
	font-family: Roboto, Arial, sans-serif;
}

.bc h2, h5{
}

.page-footer{
	background-color: grey;
}
.sr{
	background-color: red;
	margin-top: 0;
	display: block;
	margin-right: auto;
	margin-left: auto;
}
.img{
	width: 100%;
	height: 250px;
}
.page h1.format-icon:before {
	content: none;
}
h6{
	font-size: 18px;
}
h2{
	color: brown;
	text-align: center;

}
.related_post{
	text-align: center;
}
.relposttitle{
	font-size: 20px;
}
.dis{
	pointer-events: none;
	cursor: default;
}
.about{
	text-align: center;
}
.footerr{
	color: white;
}

.term{
	pointer-events: none;
	cursor: default;